In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore',category=FutureWarning)

In [ ]:
df=pd.read_csv('/content/spam_ham_dataset.csv')

In [ ]:
df

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [ ]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [ ]:
df.tail()

,Unnamed: 0,label,text,label_num
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [ ]:
df.duplicated().sum()

0

# Data Preprocessing

In [ ]:
df.isna().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [ ]:
df.describe()

        Unnamed: 0    label_num
count  5171.000000  5171.000000
mean   2585.000000     0.289886
std    1492.883452     0.453753
min       0.000000     0.000000
25%    1292.500000     0.000000
50%    2585.000000     0.000000
75%    3877.500000     1.000000
max    5170.000000     1.000000

# Dropping some Unnecessary Columns

In [ ]:
df.drop('Unnamed: 0', axis=1 , inplace=True)
df

     label                                               text  label_num
0      ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     spam  Subject: photoshop , windows , office . cheap ...          1
4      ham  Subject: re : indian springs\r\nthis deal is t...          0
...    ...                                                ...        ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...          0
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169   ham  Subject: industrial worksheets for august 2000...          0
5170  spam  Subject: important online banking alert\r\ndea...          1

[5171 rows x 3 columns]

In [ ]:
df['label'].value_counts()

df['label_num'].value_counts()

0    3672
1    1499
Name: label_num, dtype: int64

In [ ]:
# Dropping 'label_num' Column
del df['label_num']
df

     label                                               text
0      ham  Subject: enron methanol ; meter # : 988291\r\n...
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3     spam  Subject: photoshop , windows , office . cheap ...
4      ham  Subject: re : indian springs\r\nthis deal is t...
...    ...                                                ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169   ham  Subject: industrial worksheets for august 2000...
5170  spam  Subject: important online banking alert\r\ndea...

[5171 rows x 2 columns]

# Data Cleaning

In [ ]:
df.columns = ['Category','Subject']

In [ ]:
df.columns

Index(['Category', 'Subject'], dtype='object')

In [ ]:
df['Category'].unique()

array(['ham', 'spam'], dtype=object)

In [ ]:
df.drop_duplicates()

     Category                                            Subject
0         ham  Subject: enron methanol ; meter # : 988291\r\n...
1         ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2         ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3        spam  Subject: photoshop , windows , office . cheap ...
4         ham  Subject: re : indian springs\r\nthis deal is t...
...       ...                                                ...
5165      ham  Subject: fw : crosstex energy , driscoll ranch...
5166      ham  Subject: put the 10 on the ft\r\nthe transport...
5167      ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5169      ham  Subject: industrial worksheets for august 2000...
5170     spam  Subject: important online banking alert\r\ndea...

[4993 rows x 2 columns]

In [ ]:
df.loc[df['Category'] == 'spam', 'Category',] = 0
df.loc[df['Category'] == 'ham', 'Category',] = 1
df

     Category                                            Subject
0           1  Subject: enron methanol ; meter # : 988291\r\n...
1           1  Subject: hpl nom for january 9 , 2001\r\n( see...
2           1  Subject: neon retreat\r\nho ho ho , we ' re ar...
3           0  Subject: photoshop , windows , office . cheap ...
4           1  Subject: re : indian springs\r\nthis deal is t...
...       ...                                                ...
5166        1  Subject: put the 10 on the ft\r\nthe transport...
5167        1  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168        1  Subject: calpine daily gas nomination\r\n>\r\n...
5169        1  Subject: industrial worksheets for august 2000...
5170        0  Subject: important online banking alert\r\ndea...

[5171 rows x 2 columns]

In [ ]:
X = df['Category']

Y = df['Subject']

In [ ]:
print(X)

0       1
1       1
2       1
3       0
4       1
       ..
5166    1
5167    1
5168    1
5169    1
5170    0
Name: Category, Length: 5171, dtype: object

In [ ]:
print(Y)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: Subject, Length: 5171, dtype: object

# Splitting the data into training data & test data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [ ]:
X_train = X_train.astype('int')
X_test = X_test.astype('int')

In [ ]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5171,)
(4136,)
(1035,)

# Feature Extraction

In [ ]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase=True)

In [ ]:
Y_train_featured = feature_extraction.fit_transform(Y_train)
Y_test_featured = feature_extraction.transform(Y_test)

# Logistic Regression

In [ ]:
model = LogisticRegression()
model.fit(Y_train_featured,X_train)

LogisticRegression()

In [ ]:
Prediction_on_train_data = model.predict(Y_train_featured)
accuracy_on_train_data = accuracy_score(X_train,Prediction_on_train_data)
print('Accuracy_on_train_data : ', accuracy_on_train_data*100)

Accuracy_on_train_data :  99.61315280464217

In [ ]:
Prediction_on_test_data = model.predict(Y_test_featured)
accuracy_on_test_data = accuracy_score(X_test,Prediction_on_test_data)
print('Accuracy_on_test_data : ',accuracy_on_test_data*100)

Accuracy_on_test_data :  98.84057971014492

# Building a Predictive System

The Mail is taken from the Dataset

In [ ]:
Mail = ["Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."]
final_data = feature_extraction.transform(Mail)

final_prediction = model.predict(final_data)
if (final_prediction[0]==0):
  print("The mail is spam")
else:
  print("The mail is Ham(not spam)")

The mail is Ham(not spam)

Mail1 is user input Mail

In [ ]:
Mail1 = [input("Paste the text of the mail here : ")]  # Taking user input
final_data1 = feature_extraction.transform(Mail1)

final_prediction1 = model.predict(final_data1)
print(final_prediction1)
if (final_prediction1[0]==0):
  print("The mail is spam")
else:
  print("The mail is Ham(not spam)")

Paste the text of the mail here : Your Resume is selected for CIP
[1]
The mail is Ham(not spam)